# **Pandas Assignment**

datsets: top songs of the year specified

spotify_data_2011-2020.csv
spotify_data_2021-1.csv

**Import** **Pandas**

In [1]:
import pandas as pd

**Read** **spotify_2011-2020.cs**v **file**

In [2]:
df2 = pd.read_csv("/content/spotify_data_2011-2020.csv")

In [3]:
print(df2)

                                              name  ...  year
0                            Old Town Road - Remix  ...  2019
1                                          bad guy  ...  2019
2                                         Señorita  ...  2019
3                                          7 rings  ...  2019
4    Sunflower - Spider-Man: Into the Spider-Verse  ...  2019
..                                             ...  ...   ...
879                                    Springsteen  ...  2011
880                                      Honey Bee  ...  2011
881                       Stereo Love - Radio Edit  ...  2010
882                               Black and Yellow  ...  2011
883                Earthquake (feat. Tinie Tempah)  ...  2012

[884 rows x 19 columns]

**Display first 10 rows of the dataset**

In [4]:
df2.head(10)

                                            name         artists  ...    tempo  year
0                          Old Town Road - Remix       Lil Nas X  ...  136.041  2019
1                                        bad guy   Billie Eilish  ...  135.128  2019
2                                       Señorita    Shawn Mendes  ...  116.967  2019
3                                        7 rings   Ariana Grande  ...  140.048  2019
4  Sunflower - Spider-Man: Into the Spider-Verse     Post Malone  ...   89.960  2019
5                                i'm so tired...            Lauv  ...  102.211  2019
6                                     Without Me          Halsey  ...  136.041  2018
7                                Don't Start Now        Dua Lipa  ...  123.941  2019
8                                        Shallow       Lady Gaga  ...   95.799  2018
9                                         Sucker  Jonas Brothers  ...  137.958  2019

[10 rows x 19 columns]

**Display 4 rows from the last**

In [5]:
df2.tail(4)

                                name        artists  ...    tempo  year
880                        Honey Bee  Blake Shelton  ...  205.570  2011
881         Stereo Love - Radio Edit    Edward Maya  ...  127.041  2010
882                 Black and Yellow    Wiz Khalifa  ...  164.020  2011
883  Earthquake (feat. Tinie Tempah)       Labrinth  ...  153.071  2012

[4 rows x 19 columns]

**Display the information of each column in the dataset using .info function**

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              884 non-null    object
 1   artists           884 non-null    object
 2   id                884 non-null    object
 3   release_date      884 non-null    object
 4   explicit          884 non-null    bool
 5   valence           884 non-null    float64
 6   acousticness      884 non-null    float64
 7   danceability      884 non-null    float64
 8   duration_ms       884 non-null    int64
 9   energy            884 non-null    float64
 10  instrumentalness  884 non-null    float64
 11  loudness          884 non-null    float64
 12  key               884 non-null    int64
 13  liveness          884 non-null    float64
 14  mode              884 non-null    int64
 15  popularity        884 non-null    int64
 16  speechiness       884 non-null    float64
 17  tempo             884 non-null    float64
 18  year              884 non-null    int64
dtypes: bool(1), float64(9), int64(5), object(4)
memory usage: 125.3+ KB

**Check for null values**

In [62]:
df2.isnull().sum()

name                                         0
artists                                      0
id                                           0
release_date                                 0
explicit                                     0
valence                                      0
acousticness                                 0
danceability                                 0
duration_ms                                  0
energy                                       0
instrumentalness                             0
loudness                                     0
key                                          0
liveness                                     0
mode                                         0
popularity                                   0
speechiness                                  0
tempo                                        0
year                                         0
(popularity, name, artists, release_date)    0
dtype: int64

**Display the number of unique values in each column using .nunique function**

In [63]:
df2.nunique()

name                                         843
artists                                      371
id                                           883
release_date                                 458
explicit                                       2
valence                                      543
acousticness                                 691
danceability                                 407
duration_ms                                  848
energy                                       449
instrumentalness                             327
loudness                                     806
key                                           12
liveness                                     458
mode                                           2
popularity                                     1
speechiness                                  566
tempo                                        838
year                                          12
(popularity, name, artists, release_date)      1
dtype: int64

**Identify the columns with numeric values and display those**

In [11]:
 df2.select_dtypes('number')

     valence  acousticness  danceability  ...  speechiness    tempo  year
0      0.639       0.05330         0.878  ...       0.1020  136.041  2019
1      0.562       0.32800         0.701  ...       0.3750  135.128  2019
2      0.749       0.03920         0.759  ...       0.0290  116.967  2019
3      0.327       0.59200         0.778  ...       0.3340  140.048  2019
4      0.925       0.53300         0.755  ...       0.0575   89.960  2019
..       ...           ...           ...  ...          ...      ...   ...
879    0.927       0.10000         0.692  ...       0.0255  104.023  2011
880    0.723       0.00167         0.481  ...       0.0385  205.570  2011
881    0.586       0.03460         0.799  ...       0.0322  127.041  2010
882    0.538       0.06460         0.684  ...       0.0675  164.020  2011
883    0.258       0.10900         0.540  ...       0.1000  153.071  2012

[884 rows x 14 columns]

**Display the statistical information of the numerical columns**

**Display the columns with categorical values**

**Display all the colunns with continuous value**

**Display the first 3 columns using iloc function (all the rows )**

In [20]:
df2.iloc[0:884, 0:3]

                                              name  ...                      id
0                            Old Town Road - Remix  ...  2YpeDb67231RjR0MgVLzsG
1                                          bad guy  ...  2Fxmhks0bxGSBdJ92vM42m
2                                         Señorita  ...  6v3KW9xbzN5yKLt9YKDYA2
3                                          7 rings  ...  6ocbgoVGwYJhOv1GgI9NsF
4    Sunflower - Spider-Man: Into the Spider-Verse  ...  0RiRZpuVRbi7oqRdSMwhQY
..                                             ...  ...                     ...
879                                    Springsteen  ...  05ZACkzW8YbRq3eFgIfSNB
880                                      Honey Bee  ...  0U3xEfWLX4slslHJaAorSw
881                       Stereo Love - Radio Edit  ...  1AguHaKOuggrVTebp7cZEI
882                               Black and Yellow  ...  5A6OHHy73AR5tLxgTc98zz
883                Earthquake (feat. Tinie Tempah)  ...  3SxiAdI8dP9AaaEz1Z24mn

[884 rows x 3 columns]

**Display name of the song, the artist ,the release date and popularity columns using loc function**

In [35]:
df2.loc[0:884,['name','artists','release_date','popularity']]

                                              name  ... popularity
0                            Old Town Road - Remix  ...         80
1                                          bad guy  ...         85
2                                         Señorita  ...         79
3                                          7 rings  ...         85
4    Sunflower - Spider-Man: Into the Spider-Verse  ...         80
..                                             ...  ...        ...
879                                    Springsteen  ...         72
880                                      Honey Bee  ...         50
881                       Stereo Love - Radio Edit  ...         64
882                               Black and Yellow  ...         75
883                Earthquake (feat. Tinie Tempah)  ...         61

[884 rows x 4 columns]

**Find duplicate rows in the dataset**

In [28]:
df2[df2.duplicated(keep=False)]

                                name   artists  ...    tempo  year
862  Earthquake (feat. Tinie Tempah)  Labrinth  ...  153.071  2012
883  Earthquake (feat. Tinie Tempah)  Labrinth  ...  153.071  2012

[2 rows x 19 columns]

**Drop the duplicate rows**

In [40]:
df2.drop_duplicates(keep=False)

                                              name  ...  year
0                            Old Town Road - Remix  ...  2019
1                                          bad guy  ...  2019
2                                         Señorita  ...  2019
3                                          7 rings  ...  2019
4    Sunflower - Spider-Man: Into the Spider-Verse  ...  2019
..                                             ...  ...   ...
878                                  Sweat - Remix  ...  2011
879                                    Springsteen  ...  2011
880                                      Honey Bee  ...  2011
881                       Stereo Love - Radio Edit  ...  2010
882                               Black and Yellow  ...  2011

[882 rows x 19 columns]

**Group the songs by year and explicit values and display the average popularity of song in each group**

In [50]:
df2.groupby(df2.year).agg('count')

      name  artists   id  release_date  ...  mode  popularity  speechiness  tempo
year                                    ...
2009     1        1    1             1  ...     1           1            1      1
2010    29       29   29            29  ...    29          29           29     29
2011    76       76   76            76  ...    76          76           76     76
2012   109      109  109           109  ...   109         109          109    109
2013    76       76   76            76  ...    76          76           76     76
2014    96       96   96            96  ...    96          96           96     96
2015    88       88   88            88  ...    88          88           88     88
2016    88       88   88            88  ...    88          88           88     88
2017   105      105  105           105  ...   105         105          105    105
2018    88       88   88            88  ...    88          88           88     88
2019   103      103  103           103  ...   103         103          103    103
2020    25       25   25            25  ...    25          25           25     25

[12 rows x 18 columns]

In [44]:
df2.groupby(df2.explicit).agg('count')

          name  artists   id  ...  speechiness  tempo  year
explicit                      ...
False      673      673  673  ...          673    673   673
True       211      211  211  ...          211    211   211

[2 rows x 18 columns]

**Display the name of the artist with highest number of occcurance with the number of occcurances **

In [52]:
selection = df2['artists'].describe()
print(selection)

count              884
unique             371
top       Taylor Swift
freq                18
Name: artists, dtype: object

**Display the song name, artist and release date of the song with popularity more than 50**

In [74]:
df2.loc[0:884,['name','artists','release_date','popularity']]

                                              name  ... popularity
0                            Old Town Road - Remix  ...      False
1                                          bad guy  ...      False
2                                         Señorita  ...      False
3                                          7 rings  ...      False
4    Sunflower - Spider-Man: Into the Spider-Verse  ...      False
..                                             ...  ...        ...
879                                    Springsteen  ...      False
880                                      Honey Bee  ...      False
881                       Stereo Love - Radio Edit  ...      False
882                               Black and Yellow  ...      False
883                Earthquake (feat. Tinie Tempah)  ...      False

[884 rows x 4 columns]

**Read the dataset spotify_data_2021-1**

In [77]:
df2 = pd.read_csv("/content/spotify_data_2021_1.csv")
print(df2)

                                                 name  ...    tempo
0                                          Easy On Me  ...  141.981
1                           LA FAMA (with The Weeknd)  ...  136.010
2                                               Woman  ...  107.998
3                                           Oh My God  ...   88.098
4                                         ESCAPE PLAN  ...  154.120
..                                                ...  ...      ...
95                                  WHOLE LOTTA MONEY  ...   81.008
96  Not In The Mood (feat. Fivio Foreign & Kay Flock)  ...  141.908
97                                          positions  ...  144.005
98                   death bed (coffee for your head)  ...  144.026
99                                             DÁKITI  ...  109.928

[100 rows x 18 columns]

**The given datasets have the same number of columns? Use shape function. Before concatenating check for the missing column ( the column that is there in spotify_data_2011-2020.csv but not in spotify_data_2021-1.csv)**

**Create the missing column in the new dataset. Find the hint at the end of the Notebook**

**Concatenate the new songs of 2021 with the existing dataset**

**Arrange the songs with increasing order with respect to energy**

**The values in release date column is in the format dd-mm-yyyy extract the year from each of the value to vcreate a new column**